:root {
  --blue-bg: #9bbcf7;
  --dark-blue: #102f69;
  --navy: #12316d;
  --white: #ffffff;
  --card: #faf8f8;
  --border: rgba(255, 255, 255, 0.95);
  --text: #ffffff;
}

/* APP */

.app {
  height: 100dvh;
  background: #f5f5f5;
}

.app-shell {
  width: 60%;
  margin: auto;
  padding: 32px;
  display: flex;
  gap: 42px;

  background: var(--blue-bg);
  border-radius: 28px;

  box-shadow:
    0 10px 30px rgba(44, 91, 160, 0.18),
    inset 0 0 35px rgba(255, 255, 255, 0.12);
}


/* MAIN CONTENT */

.content {
  flex: 1;
  min-width: 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*   
   TOP BAR
   */

.topbar {
  min-height: 65px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 3px solid var(--border);
  border-radius: 19px;

  color: white;
}

.search-box {
  width: 200px;
  height: 44px;

  display: flex;
  align-items: center;
  gap: 20px;

  padding: 0 22px;

  border-radius: 18px;
  background: var(--dark-blue);

  font-size: 15px;
}

.search-icon {
  font-size: 28px;
  line-height: 1;
  transform: rotate(-20deg);
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 48px;
  height: 48px;

  display: grid;
  place-items: center;

  border-radius: 50%;
  background: #12356f;

  font-size: 28px;
  overflow: hidden;
}

.profile-info {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}

.profile-info strong {
  font-size: 16px;
}

.profile-info span {
  font-size: 10px;
  opacity: 0.9;
}

/*   
   DASHBOARD
   */

.dashboard {
  flex: 1;
  min-height: 0;

  padding: 14px 18px 20px;

  border-radius: 19px;

  color: rgb(8, 8, 8);
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
  border: 3px solid var(--border);
  border-radius: 19px;
  padding: 14px 18px 20px;
}

.dashboard-header h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.dashboard-header p {
  margin-top: 8px;

  font-size: 12px;
  color: rgba(1, 1, 1, 0.9);
}

.dashboard-body {
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-evenly;
  align-items: center ;
border: 3px solid var(--border);
  border-radius: 19px;
  padding: 14px 18px 10px;
  width: 75%;
  height: 55dvh;
  margin: auto;
}

.dashbord-input{
width: 90%;
height: 15%;
border-radius: 10px;
padding: 0px 10px;
border: 2px solid white;
background-color: transparent;
color: black;
font-weight: 750;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
}

.dashbord-input::placeholder{
  color: rgba(0, 0, 0, 0.627);
  font-size: 1.1rem;
padding: 20px 10px;
}

.addCarPartBtn{
  height: 10%;
  padding: 0px 35px;
  border: 0;
  border-radius: 24px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
color: white;
  background: var(--dark-blue);
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.actions button {
  height: 44px;
  padding: 0 26px;

  border: 0;
  border-radius: 24px;

  font-family: inherit;
  font-size: 12px;
  font-weight: 500;

  cursor: pointer;
}

.add-project {
  color: white;
  background: var(--dark-blue);
}

.add-project span {
  margin-right: 7px;
}

.import-button {
  color: #222;
  background: #fff;
}



/* RESPONSIVE */

@media (max-width: 1000px) {
  .app {
    /* padding: 15px; */
  }

  .app-shell {
    padding: 20px;
    gap: 20px;
  }

  .sidebar {
    width: 155px;
    flex-basis: 155px;
  }

  .topbar {
    padding: 8px 16px;
  }

  .profile-info {
    display: none;
  }
}

@media (max-width: 750px) {
.app-shell {
  width: 90%;
    padding:  5px;
}
.dashboard-body{
  width: 95%;
    padding:  5px;
}

}

@media (max-width: 700px) {
  .app {
    padding: 0;
  }

  .menu-section {
    display: none;
  }

  .content {
    width: 100%;
  }

  .topbar {
    min-height: 58px;
  }

  .search-box {
    width: 160px;
  }

  .dashboard {
    padding: 15px;
  }

  .dashboard-header {
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  .actions {
    width: 100%;
  }

  .actions button {
    flex: 1;
    padding: 0 10px;
  }

}

@media (max-width: 480px) {
  .search-box {
    width: 130px;
  }

  .search-box span:last-child {
    display: none;
  }

  .dashboard-header h1 {
    font-size: 18px;
  }

  .dashboard-header p {
    font-size: 10px;
  }

 }